*{
    box-sizing: border-box;
}
h1, h2{
    color: #28283D;
}
p{
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #87879D;
}
body{
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    /* overflow: hidden; */
}
.container{
    max-width: 1440px;
}
nav{
    text-align: center;
    margin-top: 80px;
}
.hero {
    display: flex;
    margin: 64px auto 120px;
    height: 360px;
}
.icons-left {
    margin-left: -26px;
}
.hero-content {
    max-width: 448px;
    margin: 23px auto;
    text-align: center;
}
h1{
    font-size: 64px;
    line-height: 110%;
    margin: 0;
    font-weight: 900;
}
.hero-content p{
    margin: 32px 0;
}
button{
    height: 56px;
    border-radius: 29px;
    color: white;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    border: 0px;
}
.download {
    width: 193px;
    background-color: #4D96A9;
    margin-right: 14px;
}
.download span {
    color: #8FE3F9;
}
.Ask {
    width: 161px;
    background-color: #855FB1;
}
.icon-right {
    margin-right: -26px;
    margin-top: 57px;
}
.main-content {
    margin: 56px auto 180px;
    max-width: 1120px;
}
.number-sec-1 {
    width: 56px;
    margin: 0 auto;
    text-align: -webkit-center;
}
.top-of-number {
    width: 1px;
    height: 80px;
    border: 1px solid white;
    border-left-color: #D1D1DF;
}
.number {
    width: 56px;
    height: 56px;
    border: 1px solid #D1D1DF;
    border-radius: 50%;
    line-height: 52px;
    text-align: center;
    color: #87879D;
    font-weight: 900;
}
.main-images {
    margin: 64px 0;
    display: flex;
    justify-content: space-between;
}
.main-images img{
    max-width: 256px;
    height: 256px;
    border-radius: 8px;
}

.main-text {
    max-width: 544px;
    margin: 0 auto;
    text-align: center;
}
span{
    color: #4D96A9;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 18px;
}
h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 110%;
    margin: 16px 49.5px 32px;
}
.main-text p{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 145%;
}
footer{
    position: relative;
    background: url(./assets/desktop/image-footer.jpg);
    background-size: 100% 100%;
}
.inner-footer{
    background-color: rgba(77, 150, 169, 90%);
    max-width: 1440px;
    height: 100%;
}
.number-sec-2 {
    width: 56px;
    margin: 0 auto;
    text-align: -webkit-center;
    position: absolute;
    left: 50%;
    top: -106px;
}
footer .number{
    background-color: white;
}
.footer-content {
    max-width: 1120px;
    padding: 112px 160px;
    display: flex;
    box-sizing: content-box;
}
footer h2{
    margin: 0;
    max-width: 445px;
    color: white;
}
footer p{
    margin: 0 32px;
    max-width: 355px;
    color: white;
}
.footer-content .download{
    background-color: #855FB1;
    margin: 0;
    margin-left: 63px;
}
.footer-content span{
    color: #D9B8FF;
}


@media screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    nav{
        margin-top: 48px;
    }
    .hero{
        display: grid;
        height: 100%;
        margin-bottom: 0;
    }
    .hero-content{
        grid-column: span 2;
        order: 3;
        margin: 72px auto 64px;
    }
    .icon-right{
        order: 2;
        margin-top: 0;
        margin-left: 32px;
    }
    .icons-left{
        order: 1;
    }
    h1{
        font-size: 48px;
    }
    .hero-content p {
        margin: 24px 0;
    }
    .main-images img {
        max-width: 152px;
        height: 160px;
    }
    .main-images {
        margin: 64px 31px;
    }
    span{
        font-size: 14px;
    }
    h2{
        font-size: 34px;
    }
    .main-text p{
        font-size: 16px;
        max-width: 504px;
    }
    .main-content{
        margin-bottom: 172px;
    }
    footer {
        background-size: 112% 100%;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        padding: 64px 128px;
    }
    footer h2{
        max-width: 504px;
        text-align: center;
    }
    footer p{
        margin: 0;
        max-width: 504px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        margin: 24px auto;
    }
    .footer-content .download {
        margin: 0 auto;
    }
    .inner-footer{
        max-height: 320px;
    }
}

@media screen and (max-width: 375px) {
    .icon-right, .icons-left{
        max-width: 208px;
        height: 160px;
    }
    header img{
        width: 100%;
    }
    .icon-right{
        margin-left: 17px;
    }
    .hero-content{
        margin: 48px 32px 32px;
    }
    h1{
        font-size: 40px;
    }
    .hero-content p {
        font-size: 16px;
    }
    .hero-content .download{
        margin: 0 0 16px;
    }
    .main-content{
        margin: 32px 32px 172px;
    }
    .main-images{
        margin: 64px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
    .main-images img {
        max-width: 148px;
        height: 144px;
    }
    span{
        font-size: 12px;
    }
    .main-text h2{
        font-size: 32px;
        margin: 16px 0 32px;
    }
    .number-sec-2 {
        left: 43%;
    }
    .footer-content{
        padding: 64px 32px;
    }
    footer{
        height: 374px;
    }
    .inner-footer h2{
        font-size: 32px;
        font-weight: 800;
    }
    .inner-footer p{
        letter-spacing: 0.5px;
    }
}